## What is Python?

* Python is a programming language
* Specifically, it's a widely used, very flexible, high-level, general-purpose, dynamic programming language
* That's a mouthful! Let's explore each of these points in more detail...

### Widely-used
* Python is the fastest-growing major programming language
* Top 3 overall (with JavaScript, Java) [source of these rankings](https://redmonk.com/sogrady/2021/03/01/language-rankings-1-21/).

<img src="https://redmonk.com/sogrady/files/2021/03/lang.rank_.0121.wm_.png" width="800px" style="margin-bottom: 10px;">

### High-level
Python features a high level of abstraction
* Many operations that are explicit in lower-level languages (e.g., C/C++) are implicit in Python
* E.g., memory allocation, garbage collection, etc.
* Python lets you write code faster

#### File reading in Java
```java
import java.io.BufferedReader;
import java.io.FileReader;
import java.io.IOException;

public class ReadFile {
    public static void main(String[] args) throws IOException{
        String fileContents = readEntireFile("./foo.txt");
    }

    private static String readEntireFile(String filename) throws IOException {
        FileReader in = new FileReader(filename);
        StringBuilder contents = new StringBuilder();
        char[] buffer = new char[4096];
        int read = 0;
        do {
            contents.append(buffer, 0, read);
            read = in.read(buffer);
        } while (read >= 0);
        return contents.toString();
    }
}
```

#### File-reading in Python
```python
open(filename).read()
```

### General-purpose
You can do almost everything in Python
* Comprehensive standard library
* Enormous ecosystem of third-party packages
* Widely used in many areas of software development (web, dev-ops, data science, etc.)

<h3 id="exp">Expressions</h3>

<p>Expressions in Python can include operations among compatible types (e.g., integers and floats). For example, basic arithmetic operations like adding multiple numbers:</p>

In [ ]:
# Addition operation expression

43 + 60 + 16 + 41

<p>We can perform subtraction operations using the minus operator. In this case the result is a negative number:</p>

In [ ]:
# Subtraction operation expression

50 - 60

<p>We can do multiplication using an asterisk:</p>

In [ ]:
# Multiplication operation expression

5 * 5

<p>We can also perform division with the forward slash:

In [ ]:
# Division operation expression

25 / 5

In [ ]:
# Division operation expression

25 / 6

<p>As seen in the quiz above, we can use the double slash for integer division, where the result is rounded to the nearest integer:

In [ ]:
# Integer division operation expression

25 // 5

In [ ]:
# Integer division operation expression

25 // 6

<h3 id="exer_exp">Exercise: Expression</h3>

<p>Let's write an expression that calculates how many hours there are in 160 minutes:

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

Double-click __here__ for the solution.

<!-- Your answer is below:
160/60
# Or
160//60
-->

<p>Python follows well accepted mathematical conventions when evaluating mathematical expressions. In the following example, Python adds 30 to the result of the multiplication (i.e., 120).

In [ ]:
# Mathematical expression

30 + 2 * 60

<p>And just like mathematics, expressions enclosed in parentheses have priority. So the following multiplies 32 by 60.

In [ ]:
# Mathematical expression

(30 + 2) * 60

<h3 id="var">Variables</h3>

<p>Just like with most programming languages, we can store values in <i>variables</i>, so we can use them later on. For example:</p>

In [ ]:
# Store value into variable

x = 43 + 60 + 16 + 41

<p>To see the value of <code>x</code> in a Notebook, we can simply place it on the last line of a cell:</p>

In [ ]:
# Print out the value in variable

x

<p>We can also perform operations on <code>x</code> and save the result to a new variable:</p>

In [ ]:
# Use another variable to store the result of the operation between variable and value

y = x / 60
y

<p>If we save a value to an existing variable, the new value will overwrite the previous value:</p>

In [ ]:
# Overwrite variable with new value

x = x / 60
x

<p>It's a good practice to use meaningful variable names, so you and others can read the code and understand it more easily:</p>

In [ ]:
# Name the variables meaningfully

total_min = 43 + 42 + 57 # Total length of albums in minutes
total_min

In [ ]:
# Name the variables meaningfully

total_hours = total_min / 60 # Total length of albums in hours
total_hours

<p>In the cells above we added the length of three albums in minutes and stored it in <code>total_min</code>. We then divided it by 60 to calculate total length <code>total_hours</code> in hours. You can also do it all at once in a single expression, as long as you use parenthesis to add the albums length before you divide, as shown below.</p>

In [ ]:
# Complicate expression

total_hours = (43 + 42 + 57) / 60  # Total hours in a single expression
total_hours

<p>If you'd rather have total hours as an integer, you can of course replace the floating point division with integer division (i.e., <code>//</code>).</p>

<h3 id="exer_exp_var">Exercise: Expression and Variables in Python</h3>

<p>What is the value of <code>x</code> where <code>x = 3 + 2 * 2</code></p>

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

Double-click __here__ for the solution.

<!-- Your answer is below:
7
-->

<p>What is the value of <code>y</code> where <code>y = (3 + 2) * 2</code>?</p>

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

Double-click __here__ for the solution.

<!-- Your answer is below:
10
-->

<p>What is the value of <code>z</code> where <code>z = x + y</code>?</p>

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

# What are conditional statements? Why do we need them?

## `if` Statements
- Enables logical branching and recoding of data.
- BUT, `if statements` can result in long code branches, repeated code.
- Best to keep if statements short.
- Keep in mind the [Zen of Python](https://www.python.org/dev/peps/pep-0020/) when writing if statements.

## Conditional Statements and Indentation
- The syntax for control structures in Python use _colons_ and _indentation_.
- Beware that indentation affects flow.
- `if` statemenet enable logic.
- `elif` give additional conditions.
- `else` gives what to do if other conditions are not met.

In [ ]:
y = 5
x = 3
if x > 0:
    print ('x is strictly positive')
    print (x)
print ('Finished.', x, y)
x

x is strictly positive
3
Finished. 3 5

3

In [ ]:
x = 1
y = 0
if x > 0:
    print ('x is greater than 0')
    if y > 0:
        print ('& y is also greater than 0')
    elif y<0:
        print ('& y is  0')
    else:
        print ('& y is equal 0')
print ("x: ",x)
print ('Finished.')

x is greater than 0
& y is equal 0
x:  1
Finished.

In [ ]:
x > 0

True

In [ ]:
x != 5 or

True

In [ ]:
x=5
x

5

## Python Logic and Conditions
- Less than	<
- Greater than		>
- Less than or equal	≤	<=
- Greater than or equal >=
- Equals	==
- Not equal	!=
- `and` can be used to put multiple logical expressions together.
- `or` can be used to put multiple logical expressions together.

In [ ]:
x = -1
y = 1
if x >= 0 and y >= 0:
    print ('x and y are greater than 0 or 0')
elif  x >= 0 or y >= 0:
    if x > 0:
        print ('x is greater than 0')
    else:
        print ('y is greater than 0')
else:
    print ('neither x nor y greater than 0')

y is greater than 0

## Python Conditionals (Alt Syntax)
- Clean syntax doesn't get complex branching
- Python ternary conditional operator `(falseValue, trueValue)[<logicalTest>]`
- Lambda Functions as if statement.

In [ ]:
x=0
z = 5 if x > 0 else 0
print(z)

0

In [ ]:
# This is a form of if statement called ternary conditional operator
x=1
#The first value is the value if the conditional is false
z=(0, 5)[x>0]
print(z)

5

## <font color="red">Python Primitive Data Types</font>

- Data types are the classification or categorization of data items.
- Data types represent a kind of value which determines what operations can be performed on that data.
- Every value in Python has a datatype.

Python has four primitive data types:

* Integer
* Float
* Boolean
* String

We will cover the above data types in addition to complex numbers.

## <font color="red">Concept of Variables in Python</font>

#### What are variables?

* Variables are the most important aspect of any programming language.
* Variables are nothing but reserved memory locations to store values. This means that when you create a variable you reserve some space in memory.
* Python variables do not need explicit declaration to reserve memory space.
   * The declaration happens automatically when you assign a value to a variable.
   * The equal sign (`=`) is used to assign values to variables.
   * Based on the data type of a variable, the Python interpreter allocates memory and decides what can be stored in the reserved memory.
   * A variable can change its type over the course of the program's execution.
   * By assigning different data types to variables, you can store integers, decimals or characters in these variables.

#### Basic rules for creating variables
It is important to have in mind the following rules when creating variables:
- The name of a variable cannot start with a number. It needs to start with either an alphabet or the underscore character.
- Variable names are case sensitive.
- Reserved words cannot be used as variable names.

## <font color="red"> Integers </font>

* An integer is a whole number that could hold a zero, positive or negative value.
* Integers can be of any length, it is only limited by the memory available.

In [ ]:
a = 12345678901234567890123456789012345678901234567890
print(a)

In [ ]:
b = a + 11
print(b)

- The underlying type of a Python integer, irrespective of the base used to specify it, is called `int`.
- We can use the `type()` function to determine the type of any Python data item.

In [ ]:
type(10)

In [ ]:
type(b)

- We can also use the `isinstance()` function to check if a data item belongs to a particular data type.

In [ ]:
a = 12345678901234567890123456789012345678901234567890
print(a, "is of type", type(a))
print(a, "is integer?", isinstance(a, int))

### Integer Arithmetic

In Python, __variables are not declared__. The type of a variable is determined when it is assigned a value.

#### <font color="blue">Example 1</font>

In [ ]:
a = 1
b = 2
c = 3
d = 4
e = 5
f = 6
g = 7
h = 8

In [ ]:
print(a + b)

In [ ]:
print(c - d)

In [ ]:
print(e * f)

In [ ]:
print(g / h)

**What do you see in the operation `g / h`?**
- In Python the symbol `/` is used for floating point division.
- For integer division, use instead `//`.

#### <font color="blue">Example 2</font>

In [ ]:
x = 17
y = 3

In [ ]:
print(x /  y)  # gives 5.66666666667

In [ ]:
print(x // y)  # gives 5

In [ ]:
print(x %  y)   # gives 2

### <font color="purple"> Going Deeper with Integers</font>

The following strings can be prepended to an integer value to indicate a base other than 10:

| Prefix |	Interpretation	| Base |
| --- | --- | --- |
| 0b (zero + lowercase letter 'b') | Binary| 	2|
| 0B (zero + uppercase letter 'B')|
| 0o (zero + lowercase letter 'o')|  Octal| 	8|
| 0O (zero + uppercase letter 'O')|
| 0x (zero + lowercase letter 'x')|  Hexadecimal| 	16|
| 0X (zero + uppercase letter 'X')|

Octal numbers:

In [ ]:
a = 0o10

In [ ]:
print(f"Value: {a} \n Type: {type(a)}")

Hexadecimal numbers:

In [ ]:
b = 0x10

In [ ]:
print(f"Value: {b} \n Type: {type(b)}")

Binary numbers:

In [ ]:
c = 0b001

In [ ]:
print(f"Value: {c} \n Type: {type(c)}")

## <font color="red">Floating Point Numbers </font>

* The float type in Python designates a floating-point number.
* Float values are specified with a decimal point.
* A floating-point number is accurate up to 15 decimal places.
* The character e or E followed by a positive or negative integer may be appended to specify scientific notation.

In [ ]:
7.94

In [ ]:
type(7.94)

In [ ]:
.56

In [ ]:
56.

In [ ]:
2.6e-5

In [ ]:
a = 0.1234567890123456789
print(a, "is of type", type(a))
print(a, "is float?", isinstance(a, float))

* Floating point numbers are represented internally as binary (base-2) fractions.
* Most decimal fractions cannot be represented exactly as binary fractions, so in most cases the internal representation of a floating-point number is an approximation of the actual value.

#### Operations on Floats

In [ ]:
print(int(1.3))   # gives 1
print(int(1.7))   # gives 1
print(int(-1.3))  # gives -1
print(int(-1.7))  # gives -1

The `round()` function returns a floating-point number rounded to the specified number of decimals.

```python
   round(float_number [, ndigits])
```

It takes two parameters:

+ **float_number** - the floating point number to be rounded
+ **ndigits (optional)** - number up to which the given number is rounded; defaults to 0.

Things to consider:

- If `ndigits` is not provided, the returned value is the nearest integer.
- If `ndigits` is present, it will round to the number of places given. The return type will be a float.
- The returned value will be rounded to `+1` if the value after the decimal point is `>=5` else it will return the value as it is up to the decimal places mentioned

#### <font color="blue">Example 3</font>

Consider the positive floating point numbers:

In [ ]:
float_num1 = 10.60
float_num2 = 10.40
float_num3 = 10.3456
float_num4 = 10.3445

Let us perform various rounding operations:

In [ ]:
print("Rounded value without num_of_decimals:", round(float_num1))

In [ ]:
print("Rounded value without num_of_decimals:", round(float_num2))

In [ ]:
print("Rounded value with num_of_decimals as 2:", round(float_num3, 2))

In [ ]:
print("Rounded value with num_of_decimals as 2:", round(float_num4, 2))

#### <font color="blue">Example 4</font>

Let us see a few examples of how rounding works on negative numbers:

In [ ]:
num = -2.8
num1 = -1.5

In [ ]:
print("The value after rounding is", round(num))

In [ ]:
print("The value after rounding is", round(num1))

## <font color="red">Complex Numbers</font>

- A complex number consists of an ordered pair of real floating point numbers denoted by `a + bj`, where `a` is the real part and `b` is the imaginary part of the complex number.

In [ ]:
3.0 + 9j

In [ ]:
type(3.0+9j)

#### <font color="blue">Example 5</font>

In [ ]:
a = complex(3.0,9)
b = complex(1,2)

In [ ]:
print("a =                 ", a)
print('Real Part =         ', a.real)
print('Imaginary Part =    ', a.imag)
print('Complex conjugate = ', a.conjugate())

In [ ]:
print ("a*a= ",a*a)
print ("a/b= ",a/b)
print ("a*b= ",a*b)

## <font color="red">Booleans</font>

* The python data type `bool` is used to store two values i.e `True` and `False`.
* Booleans are used to test whether the result of an expression is true or false.

In [ ]:
true=True
print(type(true))
true=123
type(true)

In [ ]:
type(False)

- A Boolean expression is an expression that evaluates to produce a result which is a Boolean value.
- We can store a Boolean value in a variable:

In [ ]:
my_bool = 5 > 8

and then print the Boolean value with a call to the `print()` function:

In [ ]:
print(my_bool)

To check the boolean value of an expression or a variable, pass it as a parameter to the bool function:

```python
   print(bool(expression))
```

or

```python
   print(expression)
```

Booleans can be used when there is a need to compare two or more values.

```python
   x == y    # x is equal to y
   x != y    # x is not equal to y
   x > y     # x is greater than y
   x < y     # x is less than y
   x >= y    # x is greater than or equal to y
   x <= y    # x is less than or equal to y
```

Check if x and y are equal:

In [ ]:
print(3==4)
print(bool(3==4))

Check if x and y are not equal:

In [ ]:
print(3!=4)
print(bool(3!=4))

Check if x is greater than y:

In [ ]:
print(3>4)
print(bool(3>4))

Check if x is less than y:

In [ ]:
print(3<4)
print(bool(3<4))

Check if x is greater than or equal to y:

In [ ]:
print(3>=4)
print(bool(3>=4))

Check if x is less than equal to y:

In [ ]:
print(3<=4)
print(bool(3<=4))

## <font color="red">Strings</font>

* Strings are sequences of character data.
* The string type in Python is called str.
* String literals may be delimited using either single or double quotes.
* All the characters between the opening delimiter and matching closing delimiter are part of the string.
* <font color='blue'>Are immutable</font>.

In [ ]:
print("Welcome to the Python Camp!")

In [ ]:
type("Welcome to the Python Camp!")

* A string in Python can contain as many characters as you wish.
* The only limit is your machine’s memory resources.

In [ ]:
print("This string contains a single quote (') character.")

In [ ]:
print('This string contains a double quote (") character.')

<b> Escape Sequences in Strings </b>

In [ ]:
print('This string contains a single quote (\'* character.')

In [ ]:
print("This string contains a double quote (\") character.")

In [ ]:
print('abc')
print('a\
b\
c')

In [ ]:
print('foo\\bar')

### <font color="purple">Going Deeper: Applying Special Meaning to Characters</font>

We want to represent escape sequences that are typically used to insert characters that are not readily generated from the keyboard or are not easily readable or printable.
<P>
Here is a list of escape sequences that cause Python to apply special meaning instead of interpreting literally:

| Escape Sequence| “Escaped” Interpretation |
| --- | --- |
| \a	| ASCII Bell (BEL) character
| \b	| ASCII Backspace (BS) character
| \f	| ASCII Formfeed (FF) character
| \n	| ASCII Linefeed (LF) character
| \N{<name>}| 	Character from Unicode database with given <name>
| \r	| ASCII Carriage Return (CR) character
| \t	| ASCII Horizontal Tab (TAB) character
| \uxxxx	| Unicode character with 16-bit hex value xxxx
| \Uxxxxxxxx	| Unicode character with 32-bit hex value xxxxxxxx
| \v	| ASCII Vertical Tab (VT) character
| \ooo	| Character with octal value ooo
| \xhh	| Character with hex value hh

In [ ]:
print("a\t\t\tb")

In [ ]:
print("\141", "\x61")

In [ ]:
print("a\n\tb ")

In [ ]:
print('\u2192 \N{rightwards arrow}')

### Raw Strings

- A raw string literal is preceded by `r` or `R`, which specifies that escape sequences in the associated string are not translated.
- The backslash character is left in the string.

In [ ]:
print('foo\nbar')

In [ ]:
print(r'foo\nbar')

In [ ]:
print('foo\\bar')

In [ ]:
print(R'foo\\bar')

### Triple Quotes

- Triple-quoted strings are delimited by matching groups of three single quotes (`''' '''`) or three double quotes(`""" """`).
- Escape sequences still work in triple-quoted strings, but single quotes, double quotes, and newlines can be included without escaping them.
- Provide a convenient way to create a string with both single and double quotes in it.
- They are used to document Python codes

In [ ]:
print('''This string has a single (') and a double (") quote.''')

In [ ]:
string1 = """This is a
string that spans

across several lines"""
print(string1)

### Accessing Values in Strings
- Python does not support a character type; these are treated as strings of length one, thus also considered a substring.
- To access substrings, use the square brackets for slicing along with the index or indices to obtain your substring

In [ ]:
astring1 = "Welcome To the Python Camp!"
astring2 = "A Training Course for Beginners."

In [ ]:
print(astring1[3:10])

In [ ]:
print(astring1[3:15:1])

In [ ]:
print(astring1[3:15:2])

In [ ]:
print(astring1[-2])

- Python allows to index from the zeroth position in Strings.
- Python also supports negative indexes.
- Index of ‘-1’ represents the last character of the String. Similarly, using ‘-2’, we can access the penultimate element of the string and so on.

| P | Y | T | H | O | N | - | S | T | R | I | N | G |
|---|---|---|---|---|---|---|---|---|---|---|---|---|
| 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 |10 |11 |12 |
|-13|-12|-11|-10|-9 |-8 |-7 |-6 |-5 |-4 |-3 |-2 |-1 |

#### Checking if a sub-string is in a string

In [ ]:
print("Python" in astring1)

In [ ]:
print("python" in astring1)

In [ ]:
print("python" not in astring1)

### <font color="purple">Going Deeper: Updating Strings</font>
- You cannot modify a string for a <font color="red">**string is immutable**</font>.
    - A data item is considered to be immutable if once it is created, it cannot be changed.
- You can "update" an existing string by (re)assigning a variable to another string.
- The new value can be related to its previous value or to a completely different string altogether.

We can use the `id()` function to obtain the identity of an object. The identity is a unique integer for that object during its lifetime. This is also the address of the object in memory.

In [ ]:
id_before_astring1 = id(astring1)
print(id_before_astring1)

In [ ]:
astring1[8] = 't'

In [ ]:
astring1 = astring1[0:8]+'t'+astring1[9:]
print(astring1)

In [ ]:
id_after_astring1 = id(astring1)
print(id_after_astring1)

In [ ]:
astring3 = astring1 + " " + astring2[0] + " " + astring2[11:]
print(astring3)

### <font color="purple">Going Deeper: Built-in in String Operators</font>

`capitalize()`:

In [ ]:
"funKY tOwn".capitalize()

`lower()` and `upper()`:

In [ ]:
"funky tOwn".lower()

In [ ]:
"fuNky toWn".upper()

`split()`:

In [ ]:
"funKY tOwn".split()

In [ ]:
"funKY tOwn".capitalize().split()

In [ ]:
"I want to take you to, funKY tOwn".split("u")

`strip()`:

In [ ]:
csv_string = 'Dog,Cat,Spam,Defenestrate,1, 3.1415   \n\t'
csv_string.strip()

`.join()`: allows you to glue a list of strings together with a certain string

In [ ]:
clean_list = [x.strip() for x in csv_string.split(",")]
print(clean_list)

In [ ]:
print(",".join(clean_list))

In [ ]:
print("\t".join(clean_list))

`.replace()` strings in strings

In [ ]:
csv_string = 'Dog,Cat,Spam,Defenestrate,1, 3.1415   \n\t'
alt_csv = csv_string.strip().replace(',', ' ')
print(alt_csv)

In [ ]:
print(csv_string.strip().replace(' ','').replace(',','\t'))

`.index()`:

In [ ]:
s = 'My Funny Valentine'
s.index("y")

`.count()`:

In [ ]:
s.count("y")

`.find()`: useful searching, and returning the index of the search

In [ ]:
s.find("y")

In [ ]:
s.find("y",2)

In [ ]:
s[s.find("Funny"):]

Length of a string:

In [ ]:
len(s)

**Boolean Methods**

| Method	| True if |
| --- | --- |
| `str.isalnum()` |	String consists of only alphanumeric characters (no symbols) |
| `str.isalpha()` |	String consists of only alphabetic characters (no symbols) |
| `str.islower()` |	String’s alphabetic characters are all lower case |
| `str.isnumeric()` |	String consists of only numeric characters |
| `str.isspace()` |	String consists of only whitespace characters |
| `str.istitle()` |	String is in title case |
| `str.isupper()` |	String’s alphabetic characters are all upper case |
| `str.startswith()` | String starts with the specified value |
| `str.endswith()` | String ends with the specified value |

In [ ]:
number = "24579"
print(number.isnumeric())

In [ ]:
letters = "PyTHoN"
print(letters.isnumeric())

In [ ]:
movie = "2001: A SAMMY ODYSSEY"
book = "A Thousand Splendid Sharks"
poem = "sammy lived in a pretty how town"

In [ ]:
print(movie.islower())
print(movie.isupper())
print(movie.startswith("20"))
print(movie.endswith("sSEY"))

In [ ]:
print(book.istitle())
print(book.isupper())

In [ ]:
print(poem.istitle())
print(poem.islower())

### String Formatting Operator



#### String `format()`

```python
string.format(value0, value1, ....)
```

#### `f-strings`
- Also called `literal string interpolation`, f-strings are string literals that have an `f` at the beginning and curly braces containing expressions that will be replaced with their actual values.
- Available in Python 3.6 or newer.


```python
f" {value0} {value1} ... "
```

In [ ]:
value0 = "Saturday"
value1 = "groovy"

In [ ]:
print('On {}, I feel {}'.format(value0, value1))

In [ ]:
print(f'On {value0}, I feel {value1}')

In [ ]:
print('On {0}, I feel {1}'.format(value0, value1))

In [ ]:
print(f'On {value1}, I feel {value0}')

In [ ]:
print('On {0}, I feel {0}'.format(value0, value1))

In [ ]:
print(f'On {value0}, I feel {value0}')

In [ ]:
print('{}'.format(value0*3))

In [ ]:
print(f' {value0*3}')

In [ ]:
print(f' {value0*-1}')

We can produce a raw string with {value`!`r}:

In [ ]:
print(f' {value0!r}')

You can assign by argument position or by name:

In [ ]:
'{desire} to {place}'.format(desire='Fly me', place='the Moon')

In [ ]:
'{desire} to {place} or else I wont visit {place}.'.format( \
                 desire='Fly me',place='the Moon')

In [ ]:
a = {"desire": "I want to take you", "place": "funky town"}
'{desire} to {place}'.format(**a)

**Formatting comes after a colon (:)**

In [ ]:
a = 3.14159

In [ ]:
f"{a:03.2f}"  ==  "{:03.2f}".format(a)

In [ ]:
"{0:03.2f}".format(a, 42)

In [ ]:
"{1:03.2f}".format(a, 42)

Format also supports binary numbers:

In [ ]:
c = 4225

In [ ]:
"int: {0:d}  hex: {0:x}  oct: {0:o}  bin: {0:b}".format(c)

In [ ]:
f"int: {c:d}  hex: {c:x}  oct: {c:o}  bin: {c:b}"

###  <font color="purple">Going Deeper: Type Casting</font>

- Type casting is the process of converting data from one type into another.
- There are a number of functions built in to Python which allow us to do these type conversions on basic data types.

**Convert to Integer**

In [ ]:
v1 = int(2.7)        # 2
v2 = int(-3.9)       # -3
v3 = int("2")        # 2
v4 = int("11", 16)   # 17, base 16
v5 = int(False)
print(v1, v2, v3, v4, v5)

**Convert to Float**

In [ ]:
v6 = float(2)        # 2.0
v7 = float("2.7")    # 2.7
v8 = float("2.7E-2") # 0.027
v9 = float(False)    # 0.0
vA = float(True)     # 1.0
print(v6, v7, v8, v9, vA)

**Convert to String**

In [ ]:
vB = str(4.5)        # "4.5"
vC = str(True)
print(vB, vC, type(vC))

**Convert to Bolean**

In [ ]:
vD = bool(0)         #       False;
vE = bool(3)         # True
vF = bool("PyTHoN")
vG = bool(list())
print(vD, vE, vF, vG)

In [ ]:
int1 = 4

# 4 converted to float
float1 = int1 + 2.1

# str1 = "My int:" + int1
# Error: no implicit type conversion from int to string
str1 = "My int:" + str(int1)

int2 = 4 + True # 5: bool is implicitly converted to int
print("float1 = {} \n str1  = {} \n".format(float1, str1, int2))

In [ ]:
age = 21
sign = 'You must be  {}-years-old to enter this bar'.format(age)
print(sign)

#### <font color="blue">Example 6</font>

- When you pass an argument through the command line, the type of the argument is a string.
- It is important to convert the argument to a desired type.

In [ ]:
x = float(input("Give me a number: "))
print(x)

## <font color="blue"> Breakout</font>

Try to fix the code to print out the correct information by changing the strings so that:

- The length of the string is `20`.
- The first occurrence of `a` should be at index `8`.
- The number of `a`'s in the string should be `2`.

In [ ]:
s = "Hey there! What should this string be?"
# Length should be 20
print(f"Length of s = {len(s)}")

# First occurrence of "a" should be at index 8
print(f"The first occurrence of the letter a = {s.index('a')}")

# Number of a's should be 2
print(f"a occurs {s.count(r'a')} times")

<h3 id="exp">Expressions</h3>

<p>Expressions in Python can include operations among compatible types (e.g., integers and floats). For example, basic arithmetic operations like adding multiple numbers:</p>

In [ ]:
# Addition operation expression

43 + 60 + 16 + 41

<p>We can perform subtraction operations using the minus operator. In this case the result is a negative number:</p>

In [ ]:
# Subtraction operation expression

50 - 60

<p>We can do multiplication using an asterisk:</p>

In [ ]:
# Multiplication operation expression

5 * 5

<p>We can also perform division with the forward slash:

In [ ]:
# Division operation expression

25 / 5

In [ ]:
# Division operation expression

25 / 6

<p>As seen in the quiz above, we can use the double slash for integer division, where the result is rounded to the nearest integer:

In [ ]:
# Integer division operation expression

25 // 5

In [ ]:
# Integer division operation expression

25 // 6

<h3 id="exer_exp">Exercise: Expression</h3>

<p>Let's write an expression that calculates how many hours there are in 160 minutes:

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

Double-click __here__ for the solution.

<!-- Your answer is below:
160/60
# Or
160//60
-->

<p>Python follows well accepted mathematical conventions when evaluating mathematical expressions. In the following example, Python adds 30 to the result of the multiplication (i.e., 120).

In [ ]:
# Mathematical expression

30 + 2 * 60

<p>And just like mathematics, expressions enclosed in parentheses have priority. So the following multiplies 32 by 60.

In [ ]:
# Mathematical expression

(30 + 2) * 60

<h3 id="var">Variables</h3>

<p>Just like with most programming languages, we can store values in <i>variables</i>, so we can use them later on. For example:</p>

In [ ]:
# Store value into variable

x = 43 + 60 + 16 + 41

<p>To see the value of <code>x</code> in a Notebook, we can simply place it on the last line of a cell:</p>

In [ ]:
# Print out the value in variable

x

<p>We can also perform operations on <code>x</code> and save the result to a new variable:</p>

In [ ]:
# Use another variable to store the result of the operation between variable and value

y = x / 60
y

<p>If we save a value to an existing variable, the new value will overwrite the previous value:</p>

In [ ]:
# Overwrite variable with new value

x = x / 60
x

<p>It's a good practice to use meaningful variable names, so you and others can read the code and understand it more easily:</p>

In [ ]:
# Name the variables meaningfully

total_min = 43 + 42 + 57 # Total length of albums in minutes
total_min

In [ ]:
# Name the variables meaningfully

total_hours = total_min / 60 # Total length of albums in hours
total_hours

<p>In the cells above we added the length of three albums in minutes and stored it in <code>total_min</code>. We then divided it by 60 to calculate total length <code>total_hours</code> in hours. You can also do it all at once in a single expression, as long as you use parenthesis to add the albums length before you divide, as shown below.</p>

In [ ]:
# Complicate expression

total_hours = (43 + 42 + 57) / 60  # Total hours in a single expression
total_hours

<p>If you'd rather have total hours as an integer, you can of course replace the floating point division with integer division (i.e., <code>//</code>).</p>

<h3 id="exer_exp_var">Exercise: Expression and Variables in Python</h3>

<p>What is the value of <code>x</code> where <code>x = 3 + 2 * 2</code></p>

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

Double-click __here__ for the solution.

<!-- Your answer is below:
7
-->

<p>What is the value of <code>y</code> where <code>y = (3 + 2) * 2</code>?</p>

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

Double-click __here__ for the solution.

<!-- Your answer is below:
10
-->

<p>What is the value of <code>z</code> where <code>z = x + y</code>?</p>

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

### Dynamic
Code is interpreted at run-time
* No compilation process*; code is read line-by-line when executed
* Eliminates delays between development and execution
* The downside: poorer performance compared to compiled languages