#  <font color="White">Going Deeper: Type Casting</font>

- Type casting is the process of converting data from one type into another.
- There are a number of functions built in to Python which allow us to do these type conversions on basic data types.

**Convert to Integer**

In [ ]:
v1 = int(2.7)        # 2
v2 = int(-3.9)       # -3
v3 = int("2")        # 2
v4 = int("11", 16)   # 17, base 16
v5 = int(False)
print(v1, v2, v3, v4, v5)

**Convert to Float**

In [ ]:
v6 = float(2)        # 2.0
v7 = float("2.7")    # 2.7
v8 = float("2.7E-2") # 0.027
v9 = float(False)    # 0.0
vA = float(True)     # 1.0
print(v6, v7, v8, v9, vA)

**Convert to String**

In [ ]:
vB = str(4.5)        # "4.5"
vC = str(True)
print(vB, vC, type(vC))

**Convert to Bolean**

In [ ]:
vD = bool(0)         #       False;
vE = bool(3)         # True
vF = bool("PyTHoN")
vG = bool(list())
print(vD, vE, vF, vG)

In [ ]:
int1 = 4

# 4 converted to float
float1 = int1 + 2.1

# str1 = "My int:" + int1
# Error: no implicit type conversion from int to string
str1 = "My int:" + str(int1)

int2 = 4 + True # 5: bool is implicitly converted to int
print("float1 = {} \n str1  = {} \n".format(float1, str1, int2))

In [ ]:
age = 21
sign = 'You must be  {}-years-old to enter this bar'.format(age)
print(sign)

#### <font color="white">Example 6</font>

- When you pass an argument through the command line, the type of the argument is a string.
- It is important to convert the argument to a desired type.

In [ ]:
x = float(input("Give me a number: "))
print(x)

## <font color="white"> Breakout</font>

Try to fix the code to print out the correct information by changing the strings so that:

- The length of the string is `20`.
- The first occurrence of `a` should be at index `8`.
- The number of `a`'s in the string should be `2`.

In [ ]:
s = "Hey there! What should this string be?"
# Length should be 20
print(f"Length of s = {len(s)}")

# First occurrence of "a" should be at index 8
print(f"The first occurrence of the letter a = {s.index('a')}")

# Number of a's should be 2
print(f"a occurs {s.count(r'a')} times")

# Tuples

Tuples are ordered collections, i.e. sequences, like strings, but they can contain any type of value (not just characters). They can even contain different types within the same tuple. Tuples are defined by parentheses (i.e. brackets) and the elements of a tuple are separated by commas, like this:

```('a', 'b', 'c', 1, 2, 3)```.

[Tuple documentation](https://docs.python.org/3/library/stdtypes.html#tuple)

## Creating Tuples

In [ ]:
# Create an empty tuple
tup = ()
print('empty tuple:', tup)

empty tuple: ()

In [ ]:
# Create a tuple with some initial contents
tup = ('Python', 1024, 3.14, True)
print('non-empty tuple:', tup)

non-empty tuple: ('Python', 1024, 3.14, True)

In [ ]:
# the same value can occur multiple times in a tuple
tup = ('a', 'a', 'a')
print(tup)

('a', 'a', 'a')

## Tuple Operations
Because tuples are sequences, like strings, functions, operators, and loops that operate on strings also play well with tuples, for example:

In [ ]:
# the len function returns the length of a tuple
tup = (1, 2, 3, 4)
print(len(tup))     # returns size of a tuple
tup = (1, 2, 3, 4, 5)
print(len(tup))

4
5

In [ ]:
# indexing (like strings, tuple offsets start with zero!)
tup = (1, 2, 3)
print(tup[0])
print()
print('the whole tuple...')
print(tup)

1

the whole tuple...
(1, 2, 3)

In [ ]:
# indexing out of bounds raises a runtime error
tup = ('abc', 123, 3.14, True)
print(tup[99])

IndexError: ignored

In [ ]:
# loops
tup = (1, 2, 3)
for i in range(len(tup)):
  print(tup[i])

1
2
3

In [ ]:
# a better way to loop (a.k.a. iterate) over tuples...
x = (1, 2, 3)
for i in x:
  print(i)

1
2
3

In [ ]:
# the in operator (membership test)
x = 4
tup = (1, 2, 3, 4, 5)
if x in tup: # True if var’s value is in tuple
    print(tup, 'contains ', x)
else:
    print(tup, 'does NOT contain', x)

(1, 2, 3, 4, 5) contains  4

In [ ]:
# slicing
tup = (1, 2, 3, 4, 5)
print(tup[2:])   # prints 3rd through end of tuple
print(tup[:3])   # prints first through third from last
print(tup[2:4])

(3, 4, 5)
(1, 2, 3)
(3, 4)

In [ ]:
# the plus operator concatenates (combines) two tuples into one
t1 = (1, 2, 3)
t2 = (4, 5, 6)
print(t1 + t2)

(1, 2, 3, 4, 5, 6)

## Tuples are Immutable

Like strings, once created, you can't change a tuple.

In [ ]:
tup = (1, 2, 3)
print(tup[1])
tup[1] = 7

2

TypeError: ignored

But you can assign a new tuple to the same variable. You haven't changed the tuple, you've changed the association between a variable and it's value.

In [ ]:
tup = (1, 2, 3)
print(tup)
tup = (1, 3, 2)
# the tuple didn't change, the tup variable now points to different data!
print(tup)

(1, 2, 3)
(1, 3, 2)

## Nested Tuples
Just as you can have if statements of if statements (nested if statements), and loops of loops (nested loops). You can have also have tuples of tuples (nested tuples).
- tuple of tuples: ```((1, 2), (3, 4))```
- tuple of strings and tuples: ```('Hi', (1,2,3), "there")```
- tuple of tuple of tuples: ```(((1,2), (3,4)), ((5,6), (7,8)))
```

In [ ]:
# More readable tuple of tuples
nested_tuple = (
                 (
                   (1, 2),
                   (3, 4)
                 ),
                 (
                   (5, 6),
                   (7, 8)
                 )
               )
print(nested_tuple)

(((1, 2), (3, 4)), ((5, 6), (7, 8)))

# Lists

* A list is like a tuple but it's mutable (changeable).
* Almost everything you know about tuples also applies to lists.
* Lists are ordered sequences.
* All the sequence operations you learned about with strings and tuples, like `len`, indexing, slicing, looping, `in`, etc. apply to lists as well.

Lists are defined inside square brackets, with list elements separated by commas, for example...
```
['a', 'b', 'c', 1, 2, 3]
```

[List documentation](https://docs.python.org/3/library/stdtypes.html#list)

## Creating Lists

In [ ]:
# Create an empty list (lists use square brackets instead of parens)
li = []
print('empty list:', li)

empty list: []

In [ ]:
# Create and initialize a list with some data
li = ['Python', 123, 3.14, True]
print('non-empty list:', li)

non-empty list: ['Python', 123, 3.14, True]

In [ ]:
# the same value can occur multiple times in a list
li = ['a', 'a', 'a']
print(li)

['a', 'a', 'a']

## List Operations

In [ ]:
# The len() function gives us the size of a list.
li = ['abc', 123, 3.14, True, 5]
# get the size of a list
list_size = len(li)
print(list_size)

5

In [ ]:
li = ['abc', 123, 3.14, True, 99, 101, "another", "last one - I promise"]
# iterate (loop) over the elements in a list
for i in range(len(li)):
  print(li[i])

abc
123
3.14
True
99
101
another
last one - I promise

In [ ]:
# A better way to iterate over the elements in a list
li = ['abc', 123, 3.14, True, 99, 101, "another", "last one - I promise"]
for i in li:
  print(i)

abc
123
3.14
True
99
101
another
last one - I promise

In [ ]:
li = ['abc', 123, 3.14, True]
# test membership in a list

x = 3.14159
if not x in li:
 print(x, 'is not in list')
else:
 print(x, 'is in list')

3.14159 is not in list

In [ ]:
li = ['abc', 123, 3.14, True]
# indexing (list indexes start with zero!)
print(li[2])

3.14

In [ ]:
# indexing out of bounds raises a runtime error
li = ['abc', 123, 3.14, True]
print(li[99])

IndexError: ignored

In [ ]:
li = ['abc', 123, 3.14, True]
# slicing
print(li[1:3])

[123, 3.14]

In [ ]:
# concatenating lists
li1 = ['a', 1]
li2 = ['b', 2]
li3 = [99.99]
li4 = li1 + li2 + li3
print(li4)

['a', 1, 'b', 2, 99.99]

## Lists are Mutable
Unlike tuples and strings, we can change the contents of a list after it's created.

In [ ]:
# add an element
li = []
print(li)
li.append('elem1')
print(li)
li.append(400)
print(li)

[]
['elem1']
['elem1', 400]

In [ ]:
li = ['elem1', 'elem2']
print(li)
# remove an element
li.remove('elem1')
print(li)
# removes only first occurrence of 'element' in list
# differs from del because it’s based on value, not position

['elem1', 'elem2']
['elem2']

In [ ]:
li = ['elem1', 'elem2', 3, 99.9]
# remove & retrieve an element based on position
#elem = li.pop(0)
#print(elem)
#print(li)

print('start:', li)
for i in range(len(li)):
  elem = li.pop()
  print('removed', elem, 'remaining list:', li)

start: ['elem1', 'elem2', 3, 99.9]
removed 99.9 remaining list: ['elem1', 'elem2', 3]
removed 3 remaining list: ['elem1', 'elem2']
removed elem2 remaining list: ['elem1']
removed elem1 remaining list: []

In [ ]:
# If you remove an element that doesn't exist, Python gives a run time error.
# How can that be avoided? Test for existence before removing by value
li = ['elem1', 'elem2']
e = 'elem3'
li.remove(e)

ValueError: ignored

In [ ]:
li = ['elem1', 'elem2', 'elem3']
print(li)
# replace an element by index
li[1] = 'foo' # overwrites value at index 2
print(li)

['elem1', 'elem2', 'elem3']
['elem1', 'foo', 'elem3']

In [ ]:
# assignment to a non-existent element raises a runtime error
li = [1, 2, 3, 4, 5]
li[4] = 99 # causes error
print(li)

[1, 2, 3, 4, 99]

In [ ]:
li = ['abc', 123, 3.14, True]
print(li[1:3])
# assign to a list slice
li[1:] = [9,8,7.6]
print(li)

[123, 3.14]
['abc', 9, 8, 7.6]

In [ ]:
li = ['abc', 123, 3.14, True]
# delete a list element
del li[2]
print(li)

['abc', 123, True]

In [ ]:
li = ['abc', 123, 3.14, True]
# delete a list slice
del li[1:3]
print(li)

['abc', True]

In [ ]:
li = ["Maya", "Marc", "Maria"]
print('original:', li)

# sorting a list
li.sort()
print('sorted:', li)
# sorts in ascending order (small to large) by default
# to sort in descending order, use this syntax:
li.sort(reverse=True)
print('reverse sorted:', li)
li.sort()
print('re-sorted:', li)

original: ['Maya', 'Marc', 'Maria']
sorted: ['Marc', 'Maria', 'Maya']
reverse sorted: ['Maya', 'Maria', 'Marc']
re-sorted: ['Marc', 'Maria', 'Maya']

In [ ]:
li = ['abc', 123, 3.14, 'abc', 'abc', True, 'abc', 123]
# get the number of occurrences of a particular value
count = li.count('abc')
print(count)

4

In [ ]:
li = ['abc', 123, 3.14, True, 123]
# get the (first) index of a particular value
index = li.index(True)
print(index)

3

In [ ]:
li = ['abc', 123, 3.14, True, 123]
# reverse a list
li.reverse()
print(li)
li.reverse()
print(li)

[123, True, 3.14, 123, 'abc']
['abc', 123, 3.14, True, 123]

## Nested Lists

Just as we saw tuples of tuples, we can also have also have lists of lists. In fact, we can even have lists of tuples and tuples of lists!

- list of lists: ```[[1, 2], [3, 4]]```
- lists of tuples: ```[(1, 2), (3,4)]```
- tuples of lists: ```([1, 2], [3, 4]])```


We can even have lists of lists of tuples of lists of strings...
you get the idea, this can get arbitrarily complex.
Fortunately, most of the time you only need to use one or two levels, although occasionally you may need to go deeper.

### Example

Imagine I want to maintain a list of students and their quiz scores. If I think about just one particular student, I might like to store the student's name and each quiz score up to the current lesson.  I'd want to use a list because I'm going to want to add quiz results every week and, occasionally, I might need to change a grade.

Here's the data for one student...

In [ ]:
student = [ 'Sara', 95, 100, 90 ]
print(student)

['Sara', 95, 100, 90]


But we have many students, so I need to store one instance of that list for every student.
That collection also needs to be mutable, because I may need to add or delete students over time.

This seems like a job for a list of lists, like this one...

In [ ]:
students = [
    [ 'Sara', 95, 100, 90 ],
    [ 'Mary', 90, 95, 100 ],
    [ 'Marc', 85, 90 ]
]
print(students)

[['Sara', 95, 100, 90], ['Mary', 90, 95, 100], ['Marc', 85, 90]]

In [ ]:
x = ['marc']
y = (1, 2, x)

print(y)
print(y[2])
y[2] = 12
y[2].append('Maya')
print(y)

(1, 2, ['marc'])
['marc']

TypeError: ignored

We can access a sublist, i.e. one of the lists in this list of lists, like this...

In [ ]:
students = [
    [ 'Sara', 95, 100, 90 ],
    [ 'Mary', 90, 95, 100 ]
]
student = students[0] # get data for Mary
print(student)

['Sara', 95, 100, 90]

We can access an element of a sublist, like this...

In [ ]:
# get Mary's second test score
students = [
    [ 'Sara', 95, 100, 90 ],
    [ 'Mary', 90, 95, 100 ]
]
score = students[1][2]
print(score)

95

Let's now generate a table of average scores for each student, effectively each student's final grade...

In [ ]:
students = [
    [ 'Sara', 95, 100, 90, 98, 95, 99, 93, 97 ],
    [ 'Marc', 90, 95, 100, 90, 100, 93, 74 ],
    [ 'Maya', 90, 80, 100, 99, 815]
]
#print(students)

for student in students:
  total = 0
  count = len(student)
  for score in student[1:]:
    total += score
  average = total / (count - 1)
  print(student[0], average)

Sara 95.875
Marc 91.71428571428571
Maya 236.8

# Dictionaries

A dictionary is an organized collection of key/value pairs.
The data is organized for quick access via the key, somewhat like a real dictionary, where words are the keys and their definitions are the associated values.

Dictionaries are defined using curly braces with key:value pairs separated by commas, like this:
```
websites = {
  'google': 'https://google.com',
  'youtube': 'https://youtube.com',
  'baidu': 'https://baidu.com',
}
```

This data type is known by various names in other languages:
- map (C++)
- hashmap (Java)
- associative array (generic term)

This object type is extremely powerful for representing indexed data. The keys in a dictionary are arranged to facilitate fast lookup by key value.
- They are optimized for direct, not sequential, access
- There is no implied order of keys or values
- You can't index a dictionary by position
- But you can index dictionaries by key value, as we’ll see
- You can't take slices of a dictionary
- Dictionaries are mutable, like lists, they can grow, shrink, or change over time

- Dictionary keys must be immutable (e.g., string, number, tuple) because changing keys on the fly would confuse the dictionary.
- Dictionary values can have any type (mutable or immutable).

[Dictionary documentation](https://docs.python.org/3/library/stdtypes.html#mapping-types-dict)

## Dictionary Operations

In [ ]:
# Create an empty dictionary (use curly braces instead of parens or square brackets)
grades = {}
print(grades)

{}

In [ ]:
# Create and initialize a dictionary
grades = { 'Sara' : 95, 'Mary': 100 }
print(grades)

{'Sara': 95, 'Mary': 100}

In [ ]:
# If the same key occurs multiple times, python only keeps the last value
x = { 'a' : 1, 'a' : 2 }
print(x)

{'a': 2}

In [ ]:
# but the same value may appear any number of times.
x = { 'a' : 1, 'b' : 1 }
print(x)

{'a': 1, 'b': 1}

In [ ]:
# Get the size of a dictionary (returns number of key/value pairs)
grades = { 'Sara' : 95, 'Mary': 100 }
print(len(grades))

2

In [ ]:
# Retrieve the value associated with a given key
grades = { 'Sara' : 95, 'Mary': 100 }
grade = grades['Sara']
print(grade)

95

In [ ]:
# The value inside the square brackets may be a literal, a variable or any
# arbitrary expression. Similar syntax to list/tuple indexing but key based,
# not positional.
grades = { 'Sara' : 95, 'Mary': 100 }
# Attempting to retrieve a non-existent key causes an error
x = 'Sara'
grades[x]

95

In [ ]:
grades = { 'Sara' : 95, 'Mary': 100 }
# play it safe by testing for key existence before access
grade = grades[student]
if student in grades:
  grade = grades[student]
  print('grade for', student, 'is', grade)
else:
  print('student', student, 'not found')

# When used with dictionaries, the in operator only checks the existence
# of keys, not values. You can also use “not in” to test for non-existence
# of a key.

KeyError: ignored

In [ ]:
grades = { 'Sara' : 95, 'Mary': 100, 'Marc': 35 }
# loop through a dictionary (this iterates over the dictionary keys)
for i in grades:
    print(i, grades[i])

Sara 95
Mary 100
Marc 35

In [ ]:
grades = { 'Sara' : 95, 'Mary': 100, 'Marc': 35 }
# By default, the keys will appear in random order. You can iterate keys in order by sorting them first:
for i in sorted(grades):
    print(i, grades[i])

Marc 35
Mary 100
Sara 95

## Dictionaries are Mutable

In [ ]:
grades = { 'Sara' : 95, 'Mary': 100 }
print('before:', grades)
#Add a key/value pair
grades['Marc'] = None # new, no grade yet
print('after:', grades)

before: {'Sara': 95, 'Mary': 100}
after: {'Sara': 95, 'Mary': 100, 'Marc': None}

In [ ]:
grades = { 'Sara' : 95, 'Mary': 100, 'Marc': None }
print('before:', grades)
grades['Marc'] = 80 # grade recorded
print('after1:', grades)
grades['Marc'] += 5 # increment Marc's grade
print('after2:', grades)
grades['Marc'] += 5 # increment Marc's grade
print('after2:', grades)

before: {'Sara': 95, 'Mary': 100, 'Marc': None}
after1: {'Sara': 95, 'Mary': 100, 'Marc': 80}
after2: {'Sara': 95, 'Mary': 100, 'Marc': 85}
after2: {'Sara': 95, 'Mary': 100, 'Marc': 90}

In [ ]:
grades = { 'Sara' : 95, 'Mary': 100, 'Marc': 85 }
# delete a key/value pair
del grades['Marc'] # Fred dropped the course
print(grades)

{'Sara': 95, 'Mary': 100}

In [ ]:
grades = { 'Sara' : 95, 'Mary': 100, 'Marc': 85 }
# Trying to delete a key that doesn't exist will cause a runtime error.
del grades['Fred']

KeyError: ignored

## Nested Dictionaries
Just like we can have nested if statements, nested loops, nested tuples, and nested lists, we can also have nested dictionaries.
- dictionary of tuples:  ```{'key1': (1,2), 'key2': (3,4)}```
- dictionary of lists:  ```{'key1': [1,2], 'key2': [3,4]}```
- dictionary of dictionaries:
```
{
    'key1' : {
      'key1' : [1, 2],
      'key2' : [3, 4]
    }
    'key2' : {
      'key1' : [1, 2],
      'key2' : [3, 4]  
    }
}
```
This can get arbitrarily complex (dictionaries of lists of tuples of dictionaries of...).

Once again, imagine I want to maintain a list of students and their quiz scores. If I think about just one particular student, I might like to store the student's name and each quiz score up to the current lesson. I need a mutable sequence (i.e. a list) because I'm going to want to add quiz results every week, like this:
```
student = [ 'Jeff', 95, 100, 90 ]
```
Even more convenient would be to organize the test scores by student name that way I can efficiently find any given student's scores by their name (i.e. by indexing on the dictionary key).

This leads us to a dictionary of lists:
```
grades = {
           'Sara' : [95, 100, 90],
           'Mary' : [90, 95, 100]
         }
```
To add a student:
```
grades[student] = []
```
To delete a student:
```
del grades[student]
```
To add a new score for a student:
```
grades[student].append(new_score)
```
To replace the 2nd quiz score for a student:
```
grades[student][1] = new_score
```

## Rule of thumb for truth value of tuples, lists, and dictionaries

All of these objects may be used as boolean values. The rules for converting a tuple, list, or map into a boolean value are as follows:
- if the object is empty, it evaluates to False
- if the object is non-empty, it evaluates to True

In [ ]:
def empty(collection):
  if collection:
    return 'is NOT empty.'
  else:
    return 'is empty.'

print('tuple test...')
for i in (), (1,2,3), ('a', 1), (None,):
  print(i, empty(i))

tuple test...
() is empty.
(1, 2, 3) is NOT empty.
('a', 1) is NOT empty.
(None,) is NOT empty.

In [ ]:
def empty(collection):
  if collection:
    return 'is NOT empty.'
  else:
    return 'is empty.'

print('list test...')
for i in [], [1,2,3], ['a', 1], [None]:
  print(i, empty(i))

In [ ]:
def empty(collection):
  if collection:
    return 'is NOT empty.'
  else:
    return 'is empty.'

print('dictionary test...')
for i in {}, {1: 2, 3: 4}, {'a':1, 'b':2, 'c':3}, {None:None}:
  print(i, empty(i))

<h1> Learn Python Operators </h1>


**April 2021**<br>

Instruction, media content, examples and links to resources that will help you build a foundation for Python competency. Jupyter Notebooks are available on Google Colab and [Github](https://github.com/AlphaWaveData/Jupyter-Notebooks/blob/master/Learn%20Python%20Operators.ipynb).

<b>Web Resources</b>
<br> <a href='https://www.geeksforgeeks.org/basic-operators-python/'>Basic Operators in Python</a>


#### What are Operators?####

Python operators are symbols that perform an operation on one or more operands. An operand is a variable or a value on which we perform the operation.


#### Why use Operators?####

Operators can manipulate individual items and return a result. Operators manipulate individual items by conducting mathematical operations and/or returning a Boolean value (True or False).


#### What are Mathematical Operators?####

Mathematical operators are basic arithmetic symbols used to perform addition, subtraction, multiplication, and more.

|Operator                  |Description                                                                        |Example |
|-------------------------|-------------------------------------------------------------------------------|-------------|
|Assignment (=)        |Assigns a variable a value. |(x = 5)       |
|+       | Addition.                   |(1 + 2) |
|-         | Subtraction. | (2 - 1)
|* | Multiplication. |(1 * 2) |
|/             |Division. |(10 / 5)|
|% | Modulus. |(15 % 2)


#### What are Comparison Operators?####

Comparison operators are used to compare values, they either return True or False.

|Operator                  |Description                                                                        |Example |
|-------------------------|-------------------------------------------------------------------------------|-------------|
|Equal to (==)        |If the values of the two operands are equal, then the condition becomes true. |(a == a) is True.       |
|Not Equal to (!=)       |If the values of the two operands are not equal, then the condition becomes true.                    |(a != b) is True.|
|Greater Than, Greater than or Equal to (>, >=)          |If the value of the left operand is greater than the value of the right operand then the condition becomes true. | (2>1) is True.
|Less Than, Less than or Equal to (<, <=) |If the value of the left operand is less than the value of the right operand then the condition becomes true. |(1<2) is True.|
|and              |Returns True if all statements are True. |(1<2 and 2>1) is True.|
|or | Returns True if one of the statements is True. |(1<2 or 2<4) is True.
|not | Reverse the result, returns False if the statement is True.| not(1<5 and 5>3) is not True.

#### What are Membership Operators?####

Membership operators are used to test whether a value or a variable is found in a sequence (string, tuple, list, set or dictionary). These operators become essential when we discuss loops.

|Operator                  |Description                                                                        |Example |
|-------------------------|-------------------------------------------------------------------------------|-------------|
|in| Returns True if a sequence with the specified value is present in the object. | 3 in [1,2,3] is True.
|not in| Returns True if a sequence with the specified value is not present in the object. | 4 not in [1,2,3] is True.

<h2> Operators on Numbers </h2>
Numerical operations in Python are similar to Excel or any other programming language.

You can use these operations to do basic arithmetic.

In [ ]:
y = 15 % 10
y

5

In [ ]:
j = (1.05 * 1.076) ** 2
j

1.2764480400000002

In [ ]:
x = 126 * 0.13
x

16.38

<h3> Comparison Operators always result in a Boolean (True/False)</h3>

In [ ]:
y == x

False

In [ ]:
j < 7

True

In [ ]:
x > y and j < 5

True

<h2> Operators on Strings</h2>
We can also use these operators on strings.
    
    
<h5> The addition sign (+) will concatenate a string.</h5>

In [ ]:
sentence = 'Hello' + ' ' + 'World'
print(sentence)

Hello World

In [ ]:
k = 'Ha'
print(k * 5 + '!')

HaHaHaHaHa!

<h5>You can also use the double equals sign (==) to check if two strings are identical.</h5>

In [ ]:
'ABCD' == 'ABCE'

False

<h5>The double equals sign is case sensitive.</h5>

In [ ]:
'ABC' == 'ABc'

False

<h5> > and < will check if one string has more characters than the other. </h5>

In [ ]:
'1234567' > '12345'

True

In [ ]:
1 > 2

False

In [ ]:
'abcdefg' > 'zyxw'

False

<h5> not reverses the result, meaning it returns True if the statement is False. </h5>

In [ ]:
not(1>2 and 3==4)

True

<h5> not in returns True if a sequence with the specified value is not present in the object. </h5>

In [ ]:
'geese' not in ['dog','cat','mouse']

True

<h5> You can print Boolean values. </h5>

In [ ]:
var1 = 3
var2 = 10

print("The two variables are {} and {}".format(var1,var2))

The two variables are 3 and 10

In [ ]:
Boolean1 = var2>var1
Boolean2 = (var2 % var1) == 1

print("The two expressions returned Boolean values of {} and {}".format(Boolean1,Boolean2))

The two expressions returned Boolean values of True and True

In [ ]:
Boolean3 = (var2 + var1) > 13
Boolean4 = (var2 % var1) > 2

print("The two expressions returned Boolean values of {} and {}".format(Boolean3,Boolean4))

The two expressions returned Boolean values of False and False

In [ ]:
Boolean5 = 'car' in ['boat','truck','car','house','garage']

print("The car is in the list? {}".format(Boolean5))

The car is in the list? True